In [2]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

### Getting the data and the features names

In [121]:
arrhythmia_raw = pd.read_csv('D:/Datasets/arrhythmia/arrhythmia_data.csv')

In [122]:
features_txt = open('D:/Datasets/arrhythmia/features_raw.txt', 'r').read()

In [123]:
features = features_txt.split(',')

In [124]:
arrhythmia_raw.describe()

,age,sex,height,weight,qrs_duration,pr_interval,qt_interval,t_interval,p_interval,vector_qrs,...,v6_applitude_q_wave,v6_applitude_r_wave,v6_applitude_s_wave,v6_applitude_r_sp_wave,v6_applitude_s_sp_wave,v6_applitude_p_wave,v6_applitude_t_wave,v6_qrsa,v6_qrsta,class
count,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,452.000000,...,452.000000,452.000000,452.000000,452.000000,452.0,452.000000,452.000000,452.000000,452.000000,452.000000
mean,46.471239,0.550885,166.188053,68.170354,88.920354,155.152655,367.207965,169.949115,90.004425,33.676991,...,-0.278982,9.048009,-1.457301,0.003982,0.0,0.514823,1.222345,19.326106,29.473230,3.880531
std,16.466631,0.497955,37.170340,16.590803,15.364394,44.842283,33.385421,35.633072,25.826643,45.431434,...,0.548876,3.472862,2.002430,0.050118,0.0,0.347531,1.426052,13.503922,18.493927,4.407097
min,0.000000,0.000000,105.000000,6.000000,55.000000,0.000000,232.000000,108.000000,0.000000,-172.000000,...,-4.100000,0.000000,-28.600000,0.000000,0.0,-0.800000,-6.000000,-44.200000,-38.600000,1.000000
25%,36.000000,0.000000,160.000000,59.000000,80.000000,142.000000,350.000000,148.000000,79.000000,3.750000,...,-0.425000,6.600000,-2.100000,0.000000,0.0,0.400000,0.500000,11.450000,17.550000,1.000000
50%,47.000000,1.000000,164.000000,68.000000,86.000000,157.000000,367.000000,162.000000,91.000000,40.000000,...,0.000000,8.800000,-1.100000,0.000000,0.0,0.500000,1.350000,18.100000,27.900000,1.000000
75%,58.000000,1.000000,170.000000,79.000000,94.000000,175.000000,384.000000,179.000000,102.000000,66.000000,...,0.000000,11.200000,0.000000,0.000000,0.0,0.700000,2.100000,25.825000,41.125000,6.000000
max,83.000000,1.000000,780.000000,176.000000,188.000000,524.000000,509.000000,381.000000,205.000000,169.000000,...,0.000000,23.600000,0.000000,0.800000,0.0,2.400000,6.000000,88.800000,115.900000,16.000000

In [125]:
arrhythmia_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Columns: 280 entries, age to class
dtypes: float64(120), int64(155), object(5)
memory usage: 988.8+ KB

### Describes of the classes

In [126]:
classes = arrhythmia_data['class']

In [127]:
classes_unique = classes.unique()

In [128]:
classes_unique = classes_unique.tolist()

In [129]:
classes_unique

[10, 1, 2, 16, 9, 5, 6, 14, 3, 8, 4]

In [130]:
dataframes = []

In [131]:
for _class in classes_unique:
    dataframes.append(arrhythmia_raw.loc[arrhythmia_raw['class'] == _class])

In [132]:
len(classes_unique)

11

In [133]:
len(dataframes)

11

In [142]:
describes = {}

In [143]:
for dataframe in dataframes:
    class_list = dataframe['class'].unique()
    class_list[0]
    print(class_list[0])
    describes[class_list[0]] = dataframe.mean()

10
1
2
16
9
5
6
14
3
8
4

In [111]:
for describe in describes:
    describe.

<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>

In [24]:
arrhythmia_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68 entries, 2 to 450
Columns: 280 entries, age to class
dtypes: float64(120), int64(155), object(5)
memory usage: 149.3+ KB

In [25]:
y = arrhythmia_data['class']

In [29]:
y.unique()

array([10,  1,  2, 16,  9,  5,  6, 14,  3,  8,  4], dtype=int64)

In [26]:
y.describe()

count    68.000000
mean      4.897059
std       4.584659
min       1.000000
25%       1.000000
50%       2.000000
75%       9.000000
max      16.000000
Name: class, dtype: float64

In [95]:
X_raw = arrhythmia_data.loc[:, features].values

In [96]:
X.view()

array([[ 75. ,   0. , 190. , ...,  23.3,  49.4,   8. ],
       [ 56. ,   1. , 165. , ...,  20.4,  38.8,   6. ],
       [ 54. ,   0. , 172. , ...,  12.3,  49. ,  10. ],
       ...,
       [ 36. ,   0. , 166. , ..., -44.2, -33.2,   2. ],
       [ 32. ,   1. , 155. , ...,  25. ,  46.6,   1. ],
       [ 78. ,   1. , 160. , ...,  21.3,  32.8,   1. ]])

In [97]:
X = X.astype(np.float64)

TypeError: 'numpy.dtype' object is not callable

In [93]:
type(X)

numpy.ndarray

In [87]:
X = StandardScaler().fit_transform(X)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [10]:
X.view()

array([[ 1.09706398, -2.07333501,  1.26993369, ...,  2.29607613,
         2.75062224,  1.93701461],
       [ 1.82982061, -0.35363241,  1.68595471, ...,  1.0870843 ,
        -0.24388967,  0.28118999],
       [ 1.57988811,  0.45618695,  1.56650313, ...,  1.95500035,
         1.152255  ,  0.20139121],
       ...,
       [ 0.70228425,  2.0455738 ,  0.67267578, ...,  0.41406869,
        -1.10454895, -0.31840916],
       [ 1.83834103,  2.33645719,  1.98252415, ...,  2.28998549,
         1.91908301,  2.21963528],
       [-1.80840125,  1.22179204, -1.81438851, ..., -1.74506282,
        -0.04813821, -0.75120669]])

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

### KNN  .95

In [12]:
pca = PCA(.98)

In [13]:
knn = KNeighborsClassifier(n_neighbors=1)

In [14]:
X_train = pca.fit_transform(X_train)

In [15]:
X_test = pca.transform(X_test)

In [16]:
pca.explained_variance_ratio_

array([0.43766898, 0.19696535, 0.09338516, 0.06530513, 0.05617859,
       0.0408935 , 0.02154313, 0.01468355, 0.01398112, 0.01141615,
       0.01004861, 0.00866833, 0.00750844, 0.00540331])

In [17]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=1, p=2,
           weights='uniform')

In [18]:
y_pred = knn.predict(X_test)

In [19]:
accuracy_score(y_test, y_pred)

0.956140350877193

### KNN original dataset

In [20]:
X_train_od, X_test_od, y_train_od, y_test_od = train_test_split(x, y, test_size=0.2, random_state=0)

In [21]:
X_train_od.view()

array([[-1.15800874, -0.40948202, -1.1351621 , ..., -0.75548625,
        -0.01092926, -0.40485783],
       [-0.94499809,  0.62606285, -0.95474903, ..., -0.605352  ,
         0.10393316, -0.40596615],
       [ 0.57163772, -1.03080894,  0.50791498, ..., -0.02597997,
        -0.19859181, -0.76616896],
       ...,
       [-1.33239345, -0.22564372, -1.32422512, ..., -0.97581512,
        -0.72275273, -0.14329518],
       [-1.25173342, -0.24891439, -1.28674204, ..., -1.74506282,
        -1.60444316, -1.01720262],
       [-0.74334801,  1.07984094, -0.71872918, ..., -0.27523937,
        -1.2760337 ,  0.1869831 ]])

In [22]:
knn.fit(X_train_od, y_train_od)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=1, p=2,
           weights='uniform')

In [23]:
y_pred_od = knn.predict(X_test_od)

In [24]:
accuracy_score(y_test_od, y_pred_od)

0.9385964912280702